PORT=
NODE_ENV=
REACT_URL=

#jwt 
ACCESS_TOKEN_SIGNATURE=
REFRESH_TOKEN_SIGNATURE=
ACCESS_TOKEN_EXPIRE_TIME=
REFRESH_TOKEN_EXPIRE_TIME=

#email app
EMAIL_APP_PASSWORD=
EMAIL_APP=

#cookie
COOKIE_EXPIRE_TIME= 

#config database
DB_HOST=
DB_DATABASE_NAME=
DB_USERNAME=
DB_PASSWORDS=
DB_PORT=
DB_DIALECT=